/* @import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap"); */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'DotGothic16', sans-serif;
    background-color: darkgray;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.ck-img {
    border-radius: 50%;
    width: 170px;
}

.joke {
    font-size: 22px;
    font-weight: bold;
    max-width: 660px;
    width: 100%;
}

.container-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.icon {
    visibility: hidden;
}

.reveal {
    visibility: visible;
}

.button {
    box-shadow: inset 0px 1px 0px 0px #97c4fe;
    background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    background-color: #3d94f6;
    border-radius: 6px;
    border: 1px solid #337fed;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #1570cd;
}

.button:hover {
    background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
    background-color: #1e62d0;
}

.button:active {
    position: relative;
    top: 1px;
}

@media only screen and (max-width : 375px) {

    /* Styles */
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
    }

    .ck-img {
        border-radius: 50%;
        width: 170px;
    }

    .joke {
        font-size: 22px;
        font-weight: bold;
        max-width: 660px;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #000;
        color: #fff;
        border-radius: 50px;
    }

    .container-1 {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .container-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }

    .icon {
        visibility: hidden;
    }

    .reveal {
        visibility: visible;
    }

    .button {
        box-shadow: inset 0px 1px 0px 0px #97c4fe;
        background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
        background-color: #3d94f6;
        border-radius: 6px;
        border: 1px solid #337fed;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 15px;
        font-weight: bold;
        padding: 6px 24px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #1570cd;
    }

    .button:hover {
        background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
        background-color: #1e62d0;
    }

    .button:active {
        position: relative;
        top: 1px;
    }
}