body,
html {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	max-width: 1366px;
}

.color-demonstration {
	width: 50vw;
	height: 30vh;
	border-radius: 5px;
	margin-bottom: 50px;
	border: solid 2px rgb(93, 93, 93);
}

.section-colors {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
}

.buttons {
	display: flex;
	justify-content: space-between;
	width: 50%;
}

.nova-classe {
	background-color: blueviolet;
}

.p a {
	color: #fff;
}
