@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'DotGothic16', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 110px;
}

h1 {
    margin: 0 auto;
}

.symbol {
    color: red;
    font-size: 16px;
    padding: 10px;
}